{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<!DOCTYPE html>
<html>
<head>
  <title>Daniel Hayes</title>
</head>
<body>
  <h1>{% block title %}Daniel Hayes{% endblock %}</h1>
  {% block nav %}
  <nav class=nav>
    <div class=nav-item>
      <a class=nav-item href="{% url 'home:home' %}">Home</a>
    </div>
    <div class=nav-item>
      <a class=nav-item href="{% url 'polls:index' %}">Polls</a>
    </div>

  {% if request.user.is_authenticated %}
    <div class=login>
      Hello {{ request.user.username|title }}. <a href="{% url 'logout' %}">Logout?</a>
    </div>
  {% else %}
    <div class=login>
      <a href="{% url 'login' %}">Login</a>
    </div>
  {% endif %}
  </nav>
  {% endblock nav %}

  <hr />

  {% block content %}{% endblock %}
</body>
</html>
