{% extends "home/base.html" %}

{% block header %}
<div class="jumbotron text-center rgba-primary-0-5">
    <h1>Hi, I'm Daniel.</h1>
    <h3>I make websites, and write about it occasionally.</h3>
</div>
{% endblock header %}
{% block content %}
<div class="home-container">
    {% if blurbs %}
        {% for blurb in blurbs %}
            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-sm-4 blurb">
                <h2>{{ blurb.title }}</h2>
                <p>
                    {{ blurb.text }}
                </p>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}
{% block contact %}
<div class="home-container">
    <div class="center-hor">
        <h2>Contact</h2>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock contact %}
