/*Blog Styling*/

/*.btn{
  background-color: #527D96;
  padding: 10px 10px;
  width: 150px;
  border-color: #042C43;
}*/


.blog-container {
    padding: 0 7%;
}

img{
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

a.post {
  display: block;
  /*margin: 0 10%;*/
}

a.post:hover {
  text-decoration: none;
}


ul.no-style {
  list-style: none;
  padding-left: 0px;
}

.post-container {
    padding: 0;
}

.post-title {
  color: black;
}

.post-content {
  min-height: 600px; /*stretch page if post is short*/
  max-width: 600px; /*keep paragraph a readable width*/
  margin: 0 auto; /*center horizontally*/
}

.post-content-text {
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 20px;
}

.post-author {
  color: black;
}

.post-index-content {
  color: black;
}

.post-card {
  background-color: #eee;
  margin: 0 0 45px 0;
  padding: 30px 30px;
  border: 1px solid #F9F9F9;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),
              0 4px 5px 0 rgba(0,0,0,0.06),
              0 1px 10px 0 rgba(0,0,0,0.08);
  color: black;
}

.archive-title {
    margin-top: 0;
}

.jumbotron-archive-text {
    display: inline-block !important;
    color: silver;
}

.jumbotron-archive-links {
    display: inline-block !important;
    border-bottom: 1px dashed silver;
}

a.jumbotron-archive-links {
    color: silver;
}

a:link.jumbotron-archive-links a:visited.jumbotron-archive-links {
    text-decoration: none;
}

a:hover.jumbotron-archive-links {
    text-decoration: none;
    border-bottom: 2px dashed silver;
}

a:active.jumbotron-archive-links {
    text-decoration: none;
}

a.jumbotron-archive-links {
    color: silver;
}

a.tag-links {
    color: silver;
}

.tag-links {
    border-bottom: 1px dashed silver;
}

a:link.tag-links a:visited.tag-links {
    text-decoration: none;
}

a:hover.tag-links {
    text-decoration: none;
    border-bottom: 2px dashed silver;
}

a:active.tag-links {
    text-decoration: none;
}

.archive-count{
  float: right;
}

.prev-post {
    float: right;
}

.next-post {
    float: left;
}

.thumbnail {
    width: auto;
}

.hamburger {
    float: left;
}

/*Side Nav Styling*/
.archive-container {
    padding: 0;
    width: 150px;
    float: right;
}

.archive-button {
    font-size: 24px;
}

.archive-button:hover {
    cursor: pointer;
}

.tag-button {
    font-size: 24px;
}

.tag-button:hover {
    cursor: pointer;
}


/* The side navigation menu */
.archive-nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 75px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the archive-nav */
}

/* The navigation menu links */
.archive-nav a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.archive-nav a:hover, .offcanvas a:focus{
    color: silver;
}

/* Position and style the close button (top left corner) */
.archive-nav .closebtn {
    position: absolute;
    top: 85px;
    left: 24px;
    font-size: 36px;
    margin: 0;
    padding: 0;
}



/* The side navigation menu */
.tag-nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 75px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the.tag-nav */
}

/* The navigation menu links */
.tag-nav a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
/*     font-size: 24px; */
    color: #818181;
    display: block;
    transition: 0.3s
}

.tag-nav h3 {
    padding: 8px 8px 8px 8px;
    color: #818181;
}

/* When you mouse over the navigation links, change their color */
.tag-nav a:hover, .offcanvas a:focus{
    color: silver;
}

/* Position and style the close button (top left corner) */
.tag-nav .closebtn {
    position: absolute;
    top: 85px;
    left: 24px;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the archive-nav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .archive-nav {padding-top: 75px;}
    .archive-nav a {font-size: 18px;}
} */

/*
.post-archive{
  padding: 0 7%;
}*/
