{% extends 'home/base.html' %}

{% block title %}Daniel Hayes | Polls{% endblock title %}
{% block content %}
<h2>{{ question.question_text }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if question.expiry_date > now %}
  <form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
  {% endfor %}
  <input type="submit" value="Vote" />
  </form>
{% else %}
<table>
{% for choice in question.choice_set.all %}
  <tr>
    <td>
      {{ choice.choice_text }}
    </td>
    <td>
      {{ choice.votes }}
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
{% endblock content %}
