{% extends 'home/base.html' %}

{% block nav-links %}
<li>
  <a href="{% url 'home:home' %}">Home</a>
</li>
<li>
  <a href="{% url 'blog:index' %}">Blog</a>
</li>
<li class="active">
  <a href="{% url 'polls:index' %}">Polls</a>
</li>
{% endblock nav-links %}
{% block content %}
  {% if active_questions %}
    <h3>Active Questions</h3>
      <ul class="no-style">
      {% for question in active_questions %}
          <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
      {% endfor %}
      </ul>
  {% endif %}
  {% if old_questions %}
    <h3>Old Questions</h3>
    <ul class="no-style">
    {% for question in old_questions %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if not active_questions and not old_questions %}
    <p>No polls are available.</p>
  {% endif %}
{% endblock content %}
