{% extends 'blog/base_blog.html' %}
{% load blog_extras %}

{% block title %}Blog | Tags{% endblock title %}

{% block page_header %}
<div class="jumbotron">
    <h2>Tag Cloud</h2>
    {% if tag %}
        <h3>Tag: {{ tag }}</h3>
    {% endif %}
</div>
{% endblock page_header %}
{% block post_detail %}

<div class="tag-cloud">
    {% if tags %}
        <h3>Tag Cloud</h3>
        {% for t in tags %}
            <div class="tag" >
                <a style="font-size:{{ t.frequency|multiply:100}}px !important;" href="{% url 'blog:tags' t.tag %}">{{ t.tag }}</a>
            </div>
        {% endfor %}
    {% else %}
        No tags :(
    {% endif %}
</div>

{% endblock post_detail %}


{% block post_list %}
{% endblock post_list %}