{% extends 'blog/base_blog.html' %}

{% block title %}Blog | Tags{% endblock title %}

{% block page_header %}
<div class="jumbotron">
    <h2>Tag Cloud</h2>
    <h3>Tag: {{ tag }}</h3>
</div>
{% endblock page_header %}
{% block post_detail %}

<div class="tag-cloud">
    {% if tag %}
        <h3>Posts tagged {{ tag }}</h3>
        {% for p in related %}
            <div>
                <a href="{% url 'blog:detail' p.slug %}">
                    {{ p.title }}</a>
            </div>
        {% endfor %}
    {% endif %}
    {% if tags %}
        <h3>Tag Cloud</h3>
        {% for t in tags %}
            <div class="tag">
                <a href="{% url 'blog:tags' t.tag %}">{{ t.tag }}</a>
            </div>
        {% endfor %}
    {% else %}
        No tags :(
    {% endif %}
</div>

{% endblock post_detail %}


{% block post_list %}
{% endblock post_list %}