{% extends 'home/base.html' %}

{% block nav-links %}
<li>
  <a href="{% url 'home:home' %}">Home</a>
</li>
<li class="active">
  <a href="{% url 'blog:index' %}">Blog</a>
</li>
<li>
  <a href="{% url 'polls:index' %}">Polls</a>
</li>
{% endblock nav-links %}
{% block content %}
  {% for post in latest_posts %}
  <div class="post-card">
    <a class=post-title href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a>
    <p class="post-author">
      Written by {{ post.author|title }} on {{ post.pub_date|date:"l, F j, Y" }}
    </p>
    <p class="post-index-content">
      {{ post.post|linebreaksbr|truncatewords:50 }}
      <span>
        <a class="read-more" href="{% url 'blog:detail' post.slug %}">Read More</a>
      </span>
    </p>
  </div>
  {% endfor %}
{% endblock content %}
