{% extends 'blog/base_blog.html' %}

{% block title %}
{% if month %}
    Blog | Archive | {{ month_name }} {{ year }}
{% else %}
    Blog | Archive | {{year}}
{% endif %}
{% endblock title %}

{% block page_header %}
  <div class="jumbotron">
    {% if month %}
      <h2>
          <a class="jumbotron-archive-links" href="{% url 'blog:archive' year month %}">{{ month_name }}</a>
          <a class="jumbotron-archive-links" href="{% url 'blog:archive' year %}">{{ year }}</a>
          <div class="jumbotron-archive-text">Archive</div>
      </h2>
    {% else %}
      <h2>
          <a class="jumbotron-archive-links" href="{% url 'blog:archive' year %}">{{ year }}</a>
          <div class="jumbotron-archive-text">Archive</div>
      </h2>
    {% endif %}
      <span class="social-links">
        <a href="https://github.com/imasnyper" target="_blank" class="github-link"></a>
        <a href="https://twitter.com/imasnyper" target="_blank" class="twitter-link"></a>
    </span>
  </div>
{% endblock %}

{% block post_list %}
{% for post in post_list %}
<a class="post" href="{% url 'blog:detail' post.slug %}">
    <div class="post-card">
        <h3 class="post-title">
            {{ post.title }}
        </h3>
<!--        <h5 class="post-author">
            Written by {{ post.author|title }} on {{ post.pub_date|date:"l, F j, Y" }}
        </h5>-->
        <h5 class="post-author">
            Published on {{ post.pub_date|date:"l, F j, Y" }}
        </h5>
        {% if post.tags.all %}
            <h6>
                Tags:
                {% for tag in post.tags.all %}
                    {% if forloop.last %}
                        <span>
                            {{ tag }}
                        </span>
                    {% else %}
                        <span>
                            {{ tag }},
                        </span>
                    {% endif %}
                {% endfor %}
            </h6>
        {% endif %}
        <p class="text-align post-index-content">
            {{ post.post|safe|striptags|truncatewords:50 }}
        </p>
    </div>
</a>
{% endfor %}
{% endblock post_list %}

{% block pag_next_url %}
  {% if month %}
    {% url 'blog:archive' year month %}?page={{ page_obj.next_page_number }}
  {% else %}
    {% url 'blog:archive' year %}?page={{ page_obj.next_page_number }}
  {% endif %}
{% endblock %}
{% block pag_prev_url %}
  {% if month %}
    {% url 'blog:archive' year month %}?page={{ page_obj.previous_page_number }}
  {% else %}
    {% url 'blog:archive' year %}?page={{ page_obj.previous_page_number }}
  {% endif %}
{% endblock %}
{% block pag_step_url %}
  {% if month %}
    {% url 'blog:archive' year month %}?page={{ page }}
  {% else %}
    {% url 'blog:archive' year %}?page={{ page }}
  {% endif %}
{% endblock %}
