{% extends "blog/base.html" %}

{% block contact_active %}
    active
{% endblock contact_active %}
{% block header %}
    <div class="jumbotron text-center rgba-primary-0-5">
        <h1>Contact Me</h1>
        <h3>Use this form to contact me regarding any business inquiries, or
            email me at <a onclick="window.open('mailto:dan@danhayes.dev', 'mail');
        event.preventDefault()" href="mailto:dan@danhayes.dev" target="_blank">dan@danhayes.dev</a>
        </h3>
        <span class="social-links">
            <a href="https://github.com/imasnyper" target="_blank" class="github-link"></a>
            <a href="https://twitter.com/imasnyper" target="_blank" class="twitter-link"></a>
        </span>
    </div>
{% endblock header %}
{% block contact %}
    <div class="center-hor">
        <h2>Contact</h2>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock contact %}