{% extends 'home/base.html' %}

{% block blog_active %}
  active
{% endblock %}
{% block content %}
  <div class="center-block text-center post-content">
    <h3>{{ post.title }}</h3>
    <p>
      Written by {{ post.author|title }} on {{ post.pub_date|date:"l, F j, Y" }}
    </p>
    <p class="post-content-text">
      {{ post.post|linebreaksbr }}
    </p>
    {% if post.postimage_set %}
      {% for img in post.postimage_set.all %}
        <img width="{{ img.image_width }}" height= "{{ img.image_height }}" src="{{ img.image.url }}" />
        <div class="text-right">
          {{ img.image_title }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock content %}
