a.nav-item{
  background-color: white;
  color: black;
  border: 2px solid #800000;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 16px;
}

a.nav-item:active{
  text-decoration: none;
  background-color: #800000;
  color: white;
}

a.nav-item:hover{
  text-decoration: none;
  background-color: #800000;
  border: 2px solid #660000;
  color: white;
}

div.nav-item{
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

div.login{
  position: absolute;
  right: 20%
}

body {
  margin: auto;
  width: 60%;
  padding: 3px;
}

td {
  padding-right: 15px;
}

h1 {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /*text-align: center;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  height: 40px;
}

/*.nav-item {
  padding: 15px;
  font-size: 16px;
  background-color: #800000;
}*/

.total_votes {
  font-weight: bold;
}

.empty_row {
  height: 10px !important;
}

hr {
	border-top: 2px solid #ac5353;
}
