 /* Contact Styling */

/* form {
    display: inline-block;
} */

/* for sticky footer */
html, body {
    height: 100%;
}

/* for sticky footer */
body {
    display: flex;
    flex-direction: column;
}

#id_contact_name, #id_contact_email, #id_message {
    background-color: snow;
}

@media (max-width: 320px) {
    #id_message {
        width: 250px;
    }
}


/* Home Styling  */

.color-primary-0 { color: #22516D }
.color-primary-1 { color: #BBCFDC } 
.color-primary-2 { color: #527D96 }
.color-primary-3 { color: #042C43 }
.color-primary-4 { color: #000C12 }

.jumbotron {
     background-image: url('images/bg.png');
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: silver;
    margin-bottom: 60px;
    box-shadow: 0 5px 2px darkgrey;
    border-radius: 0 !important;
}

.jumbotron-subheading {
    padding-left: 0;
}

@media (max-width: 500px) {
  .jumbotron {
    background-image: url('images/bg-2.png');
    background-size: 200;
  }
}

@media (max-width: 768px) {
  .jumbotron {
    background-size: 200%
  }
}

.home-container {
    /*padding: 0 7%;*/
    margin: 0;
}

.content {
    padding: 50px 0 30px;
    background-color: snow;
    font-family: 'Share Tech Mono', monospace;
    flex: 1 0 auto; /* for sticky footer */
}

.blurb {
    text-align: justify;
    text-justify: inter-word;
}

.row {
	margin: 0; /*fixes horizontal scroll bar showing up for now reason*/
}

label {
    display: block;
}

.right-align-hor {
    text-align: right;
    margin-bottom: 0 !important;
    padding-right: 15px;
}

.footer {
    padding: 20px 20px;
    background-color: #22516d;
    color: #bbcfdc;
    text-align: right;
}

.twitter-link {
    height: 50px;
}

.twitter-follow {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-toggle {
  line-height: 75px;
  height: 30px;
/*   margin: 23px 0; */
}

/* .navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
    padding-left: 25px;
    padding-right: 25px;
} */

/* .nav-container {
  padding-left: 7.5%;
  padding-right: 7.5%;
} */

.navbar-brand {
  /* font-size: 24px; */
/*   padding-left: 0px; */
  font-family: 'Coda';
  margin-left: 0 !important;
}

/* .navbar-nav li a {
  font-size: 16px;
}

.navbar-text{
  line-height: 75px;
  height: 75px;
  margin: 0;
  font-size: 16px;
  padding-left: 40px;
} */

.navbar-right {
    margin-right: 0 !important;
}

/* .navbar-right li {
    height: 75px;
} */

/* .navbar-right li a {
    padding-right: 0;
} */



/* Bootstrap navbar styling */
/* Via https://work.smarchal.com/twbscolor/ */
.navbar-default {
  background-color: #22516d;
  border-color: #042c43;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),
              0 4px 5px 0 rgba(0,0,0,0.06),
              0 1px 10px 0 rgba(0,0,0,0.08);
}
.navbar-default .navbar-brand {
  color: #bbcfdc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #bbcfdc;
}
.navbar-default .navbar-text {
  color: #bbcfdc;
}
.navbar-default .navbar-nav > li > a {
  color: #bbcfdc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bbcfdc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #22516d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #bbcfdc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #bbcfdc;
  background-color: #042c43;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #042c43;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #bbcfdc;
  background-color: #042c43;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #bbcfdc;
  background-color: #042c43;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #bbcfdc;
  background-color: #042c43;
}
.navbar-default .navbar-toggle {
  border-color: #042c43;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #042c43;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #bbcfdc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #bbcfdc;
}
.navbar-default .navbar-link {
  color: #bbcfdc;
}
.navbar-default .navbar-link:hover {
  color: #bbcfdc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #bbcfdc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bbcfdc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bbcfdc;
    background-color: #042c43;
  }
}

/* Poll Styling */
.vote_again {
  padding-top: 15px;
}

.form-horizontal .control-label {
  text-align: left;
}

.table {
  margin: auto;
  border: 2px solid gray;
} */
